.page-link {
    border-radius: 20px !important;
    margin: 10px;
    color: hsl(0, 0%, 44%);
    background-color: white;
  }
  
  .page-link:hover {
    color: white;
    background-color: #cf4501;
  }