/* 字型樣式 */
*.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

*.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

*.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

*.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

*.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

*.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

*.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

*.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

*.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}
/* header */
.navbar-brand{
  font-size: 20px;
}

.navbar-brand:hover{
  color: #CF4501;
}

.topnav {
    background-color: #F7EAD7;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 23px;
  }
  
  .topnav .topnav-title{
    display: flex;
    color: #663C2A;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 23px;
    border-bottom: 3px solid transparent;
    cursor:pointer;
  }
  .dropdown-content {
    background-color:#F3C640!important;
    min-width: 260px!important;
    padding: 20px;
    border-radius: 5px;
  }

  .dropdown-content1 a {
    margin-bottom: 10px;
    background-color:white;
    padding: 1px;
    border-radius: 5px;
  }

  .topnav a:hover {
    border-bottom: 3px solid #CF4501;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dvi a{
    text-decoration: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #CF4501;
    color:white;
  }
  
  .dropdown:hover .dropdown-content {display: block;}

  a img{
    width: 6em;
  }

/* 會員登入按鈕 */
  .user{
    border: black solid 1px;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
  }

  .user:hover {
    color: white !important;
    background-color: #cf4501 !important;
  }

  /* 會員註冊 */

.profile{
  font-size: 18px;
}

.profile1{
  border-radius:25px; 
  width:50%;
  font-size: 20px;
  background-color: white;
}

.profile1:hover{
  background-color:#663D2A ;
  color:white; 
}

.profile2{
  width: 330px;
  border: 0px;
  border-bottom: 1px solid #d0d0d0;
  font-size: 17px;
}

.profile3{
  background-color: white;
  padding: 50px 100px;
  box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 25px;
}
  
/* footer */
.footer{
  background-color: #504E4E;
    
}

.footer p{
    font-size: 20px;
    color:#ddd;
}

.footer img{
    width: 20em;
}

#backToTopBtn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: #CF4501;
  color:white;
  padding: 10px;
  border: none;
  border-radius: 50%; /* 設置圓形的半徑為50% */
  width: 50px; /* 設置按鈕寬度 */
  height: 50px; /* 設置按鈕高度 */
  cursor: pointer;
  font-size: 20px;
}
