/* swiper */
  .swiper {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(230, 229, 229);
  
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 30%;
  }
  
  .swiper-slide img {
    width: 100%;
  }
  
  .swiper-pagination {
    position: static!important;
  }