/* 購物車內容 */
.delete-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #cf4501;
  border-color: black;
  border-radius: 4px;
}

.delete-btn:hover {
  background-color: #f7ead7;
  color: #cf4501;
}

.custom-button {
  background-color: white!important;
  border-color: #cf4501 !important;
  color: #cf4501!important;
}
.custom-button:hover {
  background-color: #cf4501 !important;
  border-color: #cf4501 !important;
  color: #ffffff !important;
}

.btn-outline-primary {
  color: #214F39!important;
  border: solid 1px #214F39!important;
}
.btn-outline-primary:hover{
  background-color: #214F39!important;
  color: white!important;
  border: solid 1px #214F39!important;
}

.custom-button2 {
  background-color: white!important;
  border-color:#f3b90b!important;
  color: #f3b90b!important;
}
.custom-button2:hover {
  background-color: #f3b90b !important;
  border-color: #f3b90b!important;
  color: #ffffff !important;
  text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 4px!important;;
}