/* 頁面會員登入 */

.account{
  width:90%;
  border: 0;
  font-size: 18px;
  border-bottom: 1px solid #d0d0d0;
}
.password{
  width: 90%;
  border: 0;
  font-size: 18px;
  border-bottom: 1px solid #d0d0d0;
}
.login{
  width:25%;
  border-radius: 15px;
  font-size: 1.3em;
  background-color: white;
  color: #CF4501;
  border-color: #CF4501;
}
.login:hover{
  background-color:#CF4501 ;
  color: white;
}

.userlogin{
  background-color: white;
  padding: 50px 80px;
  border-radius: 25px;
}