/* 會員註冊 */

.Modify{
  font-size: 18px;
}

.Modify1{
  width:25%;
  border-radius: 5px;
  font-size: 1.3em;
  background-color: #CF4501;
  color:white;
}

.Modify2{
  width: 330px;
  border: 0px;
  border-bottom: 1px solid #d0d0d0;
  font-size: 17px;
}

.Modify3{
  background-color: white;
  padding: 50px 100px;
  box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 25px;
}

.Modify4{
  border-radius:25px; 
  width:40%;
  font-size: 20px;
  background-color: #555352;
  color:white; 
}

.Modify4 a{
  text-decoration: none;
}